{% trans_default_domain 'FOSUserBundle' %}

<div class="block-edit">
	<div class="edit-content">
		{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    	{{ form_widget(form) }}
    </div>
    <div>
        <input type="submit" class="btn btn-dark" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>