/*end base.html.twig*/
html{
  width:100%;
}

body {
  height:100%;
  margin: 0;
  padding-top: 54px;
  width:100%;
  /*background-image: url('../img/220635-P1BIXU-982.jpg');*/
  /*background-image: url('../img/beer-background-1.jpg');*/
  background-image: url('../img/beer-mousse.jpg');
  background-size: cover;
  /*background-color: #fffafa;*/

}

a:hover{
  color:#F79400;
  text-decoration-line: none;
}
a{
  color:#D87800;
}

/*footer*/
footer {
  font-size: .9em;
  padding-bottom: 5px;
  border-top: 3px solid #31813a;*/
  background-color: #343A40;
  background:linear-gradient(#343A40, #b8b8b8);
  color: #333;
  width:100%;
  /*padding: 15px;
    line-height: .3;*/
  position: relative;
  bottom: 0;
  margin: 0;
}
footer a {
  color: #333;
}
footer a:hover {
  color: #48a948;
  text-decoration: none;
}

.container-footer{
  display: flex;
  flex-direction: column;
}

#alcohol{
  color:red;
  font-size:1.2em;
  display: flex;
  justify-content: center;
}

.middle-footer{
  display: flex;
  justify-content: space-between;
}

.copyright-footer{
  display: flex;
  justify-content: center;
  font-size: 0.5em;
}
/*end footer*/

/*********************end base.html.twig***************/

/************index*************************/
/*.index-presentation-container{
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}*/
.index-container{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: : 5%;
  margin-bottom: 20%;
}

.index-title{
  display: flex;
  justify-content: center;
}

.index-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
}
/***********end index***********************/




/**********************************POST*************************************/
/**************************Post:comments.html.twig**************************/
.sonata-blog-comment-container{

}

.blog-comment{
  border:1px solid #ccc;
  color:#4B3621;
  background-color: #ddd;
  margin: 10%;
}

.header-comment{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(204, 204, 204, 0.5);
}

.sonata-blog-comment-name{

}

.sonata-blog-comment-date{
  display: flex;
  align-content: flex-end;
}

.sonata-blog-comment-message{
  background-color: rgba(221, 221, 221, 0.5);
  color: #000;
  padding: 6px;
}
/**************************end Post:comments.html.twig********************/

/**************************Post:comment_form.html.twig*******************/
.commentForm{
  display: flex;
  justify-content: center;
  margin: 10%;
  background-color: rgba(218, 239, 236, 0.5);
  border-radius: 5%;
}

/******************end Post:comment_form.html.twig*********************/


/***********News:Post:view.html.twig************************/
/*#postHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/
#postContainer{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  border-width: 1px;
  border-style: solid;
  border-color: black;

}
.sonata-blog-post-container{
  margin: 30px;
}

.sonata-blog-post-title{
  display: flex;
  justify-content: center;
}

.sonata-blog-post-content{
  display: flex;
  justify-content: stretch;
  background-color: rgba(218, 239, 236, 0.5);
  border-radius: 5%;
}

.post-content{
  align-items: stretch;
}
/*******************end news:Post:view.html.twig************/


/**************news:Post:archive.html.twig******************/
.sonata-blog-post-list{
  margin: 5%;
}

.sonata-blog-post-tags{
  font-size: 12px;
}
.sonata-blog-post-abtract{
  display: flex;
  align-items: center;
}

.pager{
  display: flex;
  justify-content: space-around;
}


/*end news:Post:archive.html.twig*/
/************************************END POST*************************************/

/********************************FOSUser*****************************************/

/*******************************register-content.html.twig*********************/

 
#blockRegister{
  display: flex;
  margin: 10%;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

#msgAlcohol{
  color:red;
  font-size: 1.2em;
}

#registerBtn{
  display: flex;
  justify-content: center;
}
/*************************end register-content.html.twig*********************/

/*profile:show_content.html.twig*/
.wrap-profile{
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-left: 40%;
    box-sizing: border-box;
  margin-right:45%;
  border: solid #ccc 10px;
  text-align: center;
  margin-bottom: 20%;
  background-color: rgba(221, 221, 221, 0.5);
}

.fos_user_user_show{
  display: flex;
  flex-direction: column;
  
}
/*end profile:show_content.html.twig*/

/**************************login-content.html.twig*************************/
.login-content{
  margin: 25%;
}

.log-title{
  display: flex;
  justify-content: center;
}

.container-login{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-login{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-input{
  color: #343A40;
}
/**************************end login-content.html.twig*********************/
/*END FOSUser*/

/*about.html.twig*/
.index-presentation-container{
  margin:50px;
}

.about-img{
  display: flex;
  justify-content: center;
  margin-bottom: 1.6em;
}
/*end about.html.twig*/

/*legal.html.twig*/
.legal-content{
  margin: 30px;
}
/*end legal.html.twig*/

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

}