body{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	margin-top: 10%;
}
.warning-content{}

.alcohol{
  color:red;
  font-size:1.2em;
  display: flex;
  justify-content: center;
  margin: 5%;
}

