{% extends 'base.html.twig' %}

{% block body %}
			
<div class="index-presentation-container">
            &nbsp;<br>
            &nbsp;<br>
            &nbsp;<br>

		<div class="index-presentation">
			<p> Ce site a pour but de partager des expériences zythologiques (à notre niveau), sans s'embêter avec des notes par trop subjectives.</p> 
			<p>Mais pourquoi utiliser un site internet pour ça?</p> 
                  <p>Mon frère habite pas à coté:<br> <img src="{{asset('assets/img/distance.png')}}"> <br> Et du coup on a rarement la possibilité d'en tester une en même temps et de pouvoir en discuté. De fait on a pris l'habitude de s'envoyer des MMS quand on en teste une nouvelle. Et je me suis dit que ça pourrait être plus sympa de passer par un site, qui permettrait d'archiver plus surement nos compte rendu. D'autre sit existe mais je n'y accrochait pas, d'où Bullons.</p>
			<p>Ce site nous obligera à détailler un peu plus nos avis. Celà nous permettra de pouvoir petit à petit progresser en bièrologie mais aussi de faire travailler notre mémoire (gustative et olfactive surtout) ce qui n'est pas négligeable. </p>
		</div>
            
            &nbsp;<br>
            &nbsp;<br>
            &nbsp;<br>
</div>
			

{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}