{% extends 'base.html.twig' %}

{% block body %}
			
<div class="index-presentation-container">
            &nbsp;<br>
            &nbsp;<br>
            &nbsp;<br>

		<div class="index-presentation">
			<p> Ce site a pour but de partager des expériences zythologiques (à notre niveau), sans s'embêter avec des notes par trop subjectives (et oui, une pelforth entre pote passera mieux qu'une très bonne bière après une rupture.</p> 
			<p>Mais pourquoi utiliser un site internet pour ça?</p> 
          	<p>Mon frère habite pas à coté:<br> 
      		<div class="about-img">
  				<img src="{{asset('assets/img/distance.png')}}"> <br>
			</div> 
  			Du coup on a rarement la possibilité d'en tester une en même temps et de pouvoir en discuter. De fait on a pris l'habitude de s'envoyer des MMS quand on en déguste une nouvelle. Et je me suis dit que ça pourrait être plus sympa de passer par un site, qui permettrait d'archiver plus surement nos compte rendu. D'autre site existe mais pour tout un tas de raison plus ou moins bonnes je ne m'y plaisait pas, d'où Bullons.</p>
			<p>Ce site nous obligera à détailler un peu plus nos avis. Celà nous permettra de pouvoir petit à petit progresser en bièrologie mais aussi de faire travailler notre mémoire (gustative et olfactive surtout) ce qui n'est pas négligeable. Sans oublier de continuer à découvrir.</p>
		</div>
            
            &nbsp;<br>
            &nbsp;<br>
            &nbsp;<br>
</div>
			

{% endblock %}
