{% extends 'base.html.twig' %}

{% block body %}
<div class="container index-container">
	<div class="index-title">
	    <h2>Bienvenue sur "Bullons"</h2>
	</div>

	<div class="index-content">
	    
	    <p>Ce site recense des notes de dégustation de bière.Celles-ci sont faites par des amateurs qui ne demande qu'à progresser.<br>Quand je parle de note de dégustation je ne parle pas de note sur 10 ou 20 (qui dépendrait de trop de variable), mais d'avis, de ressentis, sur les bières goûtées.</p>
	    <p>Cela pourrait vous permettre d'ajouter certaines bière sur votre wishlist ou au contraire de passer votre chemin si vous les croisées.</p>
	    <p>Une fois votre compte créé il vous sera permis de commenter les fiches de dégustations, pour par exemple faire par de vos propres expériences avec ces bières.</p>
	</div>
</div>
{% endblock %}